@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

*
	bbox()

body, html
	min-rect 100%
	margin 0
	padding 0
	overflow-x hidden
	font-family monospace

@import 'css-assets/general.styl'
@import 'css-assets/elements.styl'
@import 'css-assets/blocks.styl'
@import 'css-assets/layouts.styl'
@import 'css-assets/effects.styl'
@import 'css-assets/icons-webkits-ie.styl'
