<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>iconmelon</title>
    <link href="favicon.ico" rel="icon" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="css/css-assets/font/stylesheet.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <div id="js-svg-wrap">	
    </div>
    <div id="js-main-header" class="main-header-b"><a href="#/" id="js-main" class="logo-tiny-e"></a><a href="#/submit" id="js-submit" class="menu-item-be is-hoverable">submit icons</a><a href="#/editr" id="js-editr" class="menu-item-be is-hoverable">editr</a>
      <div id="js-loadin-line" class="loading-be loading-eff"></div>
    </div>
    <section id="main-l"></section>
    <script id="main-template" type="template">
      <div class="main-page-p">
        <div class="main-logo-b">
          <div class="logo-large-e"></div>
          <div class="name-be">iconmelon</div>
          <div class="description-be">SVG icons library for web</div>
        </div>
        <section id="js-icons-select-view-place" class="icon-select-view-b"></section>
      </div>
    </script>
    <script id="submit-page-template" type="template">
      <div class="submit-p">
        <div class="header-pe">Allo! Glad you are here. We're excpecting 32x32 shapes from you. Thanks for sharing!</div>
        <div class="submit-form-pl"></div>
        <div id="js-edit-collection-view-place"></div>
      </div>
    </script>
    <script id="editr-page-template" type="template">
      <div class="editr-p">
        <div id="js-collection-line-place"></div>
        <div class="submit-form-pl"></div>
        <div id="js-edit-collection-view-place"></div>
      </div>
    </script>
    <script id="icon-select-view-template" type="template">
      <div class="controls-bl cf">
        <div class="input-with-icon-b">
          <input id="" placeholder="search" class="input-e ">
          <div id="" title="" class="icon ">
            <svg viewBox="0 0 32 32">
              <g filter="">
                <use xlink:href="#search-icon"></use>
              </g>
            </svg>
          </div>
        </div>
        <div class="icon-set-l">
          <div class="left-ll">
            <div title="load from file" class="btn-b is-iconed is-red1">
              <div id="" title="" class="icon ">
                <svg viewBox="0 0 32 32">
                  <g filter="">
                    <use xlink:href="#arrow-up-icon"></use>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="right-ll">
            <div data-cnt="0" class="btn-b is-counter">download</div>
          </div>
        </div>
      </div>
      <div class="header-pm">Filters:</div>
      <div id="js-filters-place" class="icon-collections-line-b cf section-pm"></div>
      <div class="header-pm">Icons:</div>
      <div id="js-section-collections-place" class="section-b cf section-pm"></div>
    </script>
    <script id="button-counter-template" type="template">
      <div class="icon-set-l">
        <div class="left-ll">
          <div title="load from file" class="btn-b is-iconed is-red1">
            <div id="" title="" class="icon ">
              <svg viewBox="0 0 32 32">
                <g filter="">
                  <use xlink:href="#arrow-up-icon"></use>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="right-ll">
          <div data-cnt="&lt;%= selectedCounter %&gt;" class="btn-b is-counter is-&lt;%= (selectedCounter + &quot;&quot;).length %&gt;-digits">download</div>
        </div>
      </div>
    </script>
    <script id="icon-view-template" type="template">
      <div id="" title="" class="icon ">
        <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#&lt;%= hash %&gt;"></use>
          </g>
        </svg>
      </div>
      <div title="&lt;%= name %&gt;" class="text-be"><%= name %></div>
      <div class="bullet-be hover-be 	&lt;%= (hover)  ? 'is-check' : ''  %&gt;">	hover</div>
      <div class="bullet-be active-be &lt;%= (active) ? 'is-check' : ''  %&gt;">	active</div>
      <div class="bullet-be focus-be 	&lt;%= (focus)  ? 'is-check' : ''  %&gt;">	focus</div>
    </script>
    <script id="icons-collection-view-template" type="template">
      <div></div>
    </script>
    <script id="filters-collection-view-template" type="template">
      <div id="" title="right" class="plus-btn-b right-arrow-bh">
        <div id="" title="right" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#arrow-right-icon"></use>
            </g>
          </svg>
        </div>
      </div>
      <div id="" title="left" class="plus-btn-b left-arrow-bh">
        <div id="" title="left" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#arrow-left-icon"></use>
            </g>
          </svg>
        </div>
      </div>
      <div id="js-filters-place" class="icons-bl cf"></div>
    </script>
    <script id="section-view-template" type="template">
      <div class="section-header-b"><a target="&lt;%= (website.length &gt; 0) ? &quot;_blank&quot; : undefined %&gt;" href="&lt;%= (website.length &gt; 0) ? &quot;http://&quot; + website.replace(/http:\/\//g, &quot;&quot;) : &quot;mailto:&quot; + email %&gt;" class="is-grey3 is-hoverable is-grey2--onhover author-be">by &lt;%= author %&gt;</a>
        <div class="name-be">&lt;%= name %&gt;</div>
        <div class="icons-bl">
          <div id="js-hide" title="close section" class="icon is-hoverable &lt;%= (isClosed) ? &quot;is-reverse&quot; : &quot;&quot; %&gt;">
            <svg viewBox="0 0 32 32">
              <g filter="">
                <use xlink:href="#dropup-arrow-icon"></use>
              </g>
            </svg>
          </div>
          <div id="js-select-all" title="select all" class="icon is-green--onhover ">
            <svg viewBox="0 0 32 32">
              <g filter="">
                <use xlink:href="#tick-icon"></use>
              </g>
            </svg>
          </div>
          <div id="js-deselect-all" title="deselect all" class="icon is-red1--onhover ">
            <svg viewBox="0 0 32 32">
              <g filter="">
                <use xlink:href="#close-icon"></use>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div id="js-icons-place" class="content-bl cf"></div>
    </script>
    <script id="filter-view-template" type="template">
      <div id="js-left" class="left-bl">
        <div id="" title="previous icon" class="icon is-hoverable">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#arrow-left-icon"></use>
            </g>
          </svg>
        </div>
      </div>
      <div id="js-right" class="right-bl">
        <div id="" title="next icon" class="icon is-hoverable">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#arrow-right-icon"></use>
            </g>
          </svg>
        </div>
      </div>
      <div id="" title="next icon" class="icon ">
        <svg viewBox="0 0 32 32">
          <g filter="url(#&lt;%= hash %&gt;)">
            <use xlink:href="#&lt;%= iconHash %&gt;"></use>
          </g>
        </svg>
      </div>
      <div class="name-be"><%= name %></div>
    </script>
    <script id="section-line-view-template" type="template">
      <div class="icons-bl cf">
        <div id="" title="" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#&lt;%= (icons[0]) ? icons[0].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
            </g>
          </svg>
        </div>
        <div id="" title="" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#&lt;%= (icons[1]) ? icons[1].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
            </g>
          </svg>
        </div>
        <div id="" title="" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#&lt;%= (icons[2]) ? icons[2].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
            </g>
          </svg>
        </div>
        <div id="" title="" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#&lt;%= (icons[3]) ? icons[3].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
            </g>
          </svg>
        </div>
        <div id="" title="" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#&lt;%= (icons[4]) ? icons[4].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
            </g>
          </svg>
        </div>
        <div id="" title="" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#&lt;%= (icons[5]) ? icons[5].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
            </g>
          </svg>
        </div>
      </div>
      <div class="text-be"><%= name %></div>
    </script>
    <script id="sections-collection-view-template" type="template">
      <div></div>
    </script>
    <script id="edit-collection-view-template" type="template">
      <div class="submit-collection-l cf">
        <div class="collection-credits-b">
          <div class="header-be">Collection credits:</div>
          <input id="js-collection-name" placeholder="collection name" class="input-e ">
          <input id="js-author" placeholder="author" class="input-e ">
          <input id="js-email" placeholder="email" class="input-e ">
          <input id="js-website" placeholder="website(optional)" class="input-e ">
          <div id="js-license" class="checkbox-with-label-b license-bh">
            <div id="js-website" class="checkbox-b input-e ">
              <input type="checkbox" id="license">
              <div id="" title="" class="icon ">
                <svg viewBox="0 0 32 32">
                  <g filter="">
                    <use xlink:href="#tick-icon"></use>
                  </g>
                </svg>
              </div>
            </div>
            <label for="license">apply <a target="_blank" href="http://opensource.org/licenses/mit-license.html" class="is-grey3 is-hoverable is-grey2--onhover">MIT</a> license</label>
          </div>
          <div id="js-moderated" class="checkbox-with-label-b moderated-bh">
            <div id="" class="checkbox-b input-e ">
              <input type="checkbox" id="moderated">
              <div id="" title="" class="icon ">
                <svg viewBox="0 0 32 32">
                  <g filter="">
                    <use xlink:href="#tick-icon"></use>
                  </g>
                </svg>
              </div>
            </div>
            <label for="moderated">moderated</label>
          </div>
          <div class="icon-set-l">
            <div class="left-ll">
              <div title="" class="btn-b js-delete is-iconed is-red1">
                <div id="" title="" class="icon ">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#close-icon"></use>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div class="right-ll">
              <div data-cnt="0" class="btn-b js-save">save</div>
            </div>
          </div>
          <div data-cnt="0" class="btn-b js-submit-btn is-inactive">submit</div>
        </div>
        <div class="submit-icon-collection-b">
          <div class="header-be">Icons:</div>
          <div class="icons-bl cf">
            <div id="js-icons-place" class="icons-bll"></div>
            <div id="js-add-icon" title="add icon" class="plus-btn-b ">
              <div id="" title="add icon" class="icon ">
                <svg viewBox="0 0 32 32">
                  <g filter="">
                    <use xlink:href="#cross-icon"></use>
                  </g>
                </svg>
              </div>
            </div>
            <div id="js-upload-icon" title="upload icon from svg file" class="plus-btn-b">
              <input id="fileupload" type="file" name="files[]" multiple="multiple">
              <div id="" title="upload icon from svg file" class="icon ">
                <svg viewBox="0 0 32 32">
                  <g filter="">
                    <use xlink:href="#arrow-down-icon"></use>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script id="icon-edit-view-template" type="template">
      <div class="submit-icon-b">
        <div id="js-destroy" title="remove" class="icon is-hoverable close-bh">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#close-icon"></use>
            </g>
          </svg>
        </div>
        <div id="" title="" class="icon icon-sample-bh &lt;%= hash || 'is-grey3' %&gt;">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#&lt;%= hash || &quot;b5282d4ecdc7ae3d0799023622c560a5&quot; %&gt;"></use>
            </g>
          </svg>
        </div>
        <div class="name-bh">
          <input id="js-name" placeholder="name" class="input-e ">
        </div>
        <input id="js-shape" placeholder="shape" class="input-e shape-bh">
      </div>
    </script>
    <script id="sections-collection-line-view-template" type="template">
      <div class="icon-collections-line-b">
        <div id="" title="right" class="plus-btn-b right-arrow-bh">
          <div id="" title="right" class="icon ">
            <svg viewBox="0 0 32 32">
              <g filter="">
                <use xlink:href="#arrow-right-icon"></use>
              </g>
            </svg>
          </div>
        </div>
        <div id="" title="left" class="plus-btn-b left-arrow-bh">
          <div id="" title="left" class="icon ">
            <svg viewBox="0 0 32 32">
              <g filter="">
                <use xlink:href="#arrow-left-icon"></use>
              </g>
            </svg>
          </div>
        </div>
        <div id="js-icons-place" class="icons-bl cf"></div>
      </div>
    </script>
    <script type="text/javascript" src="js/lib/require.js" data-main="js/main"></script>
  </body>
</html>