!!!5
html
	head
		meta(charset='UTF-8')
		title iconmelon
		link(href="favicon.ico", rel="icon", type="image/png")
		link(rel="stylesheet", type="text/css", href="css/main.css")
		link(rel="stylesheet", href="css/css-assets/font/stylesheet.css", type="text/css", charset="utf-8")
	body
		- var iconClass = ''
		- var text = ''		
		- var filter = ''
		#js-svg-wrap	
			//- include css/icons-main-page.svg

		.notyfier-b.noties-l#js-notifier-place

		.main-header-b#js-main-header
			- var className = '', id = 'js-main'
			- var link = '#/'
			include css/partials/tiny-logo-link
			//- a(href="#").menu-item-be.is-hoverable#js-how-to-use how to use
			a(href="#/submit").menu-item-be.is-hoverable#js-submit submit icons
			//- a(href="#").menu-item-be.is-hoverable#js-main support us
			a(href="#/editr").menu-item-be.is-hoverable#js-editr editr
			.loading-be.loading-eff#js-loadin-line

		section#main-l

		script(id="main-template", type="template")
			include templates/main-page

		script(id="submit-page-template", type="template")
			include templates/submit-page

		script(id="editr-page-template", type="template")
			include templates/editr-page

		script(id="icon-select-view-template", type="template")
			include templates/icon-select-view

		script(id="button-counter-template", type="template")
			include templates/button-counter

		script(id="icon-view-template", type="template")
			include templates/icon-view

		script(id="icons-collection-view-template", type="template")
			include templates/icons-collection-view

		script(id="filters-collection-view-template", type="template")
			include templates/filters-collection-view

		script(id="section-view-template", type="template")
			include templates/section-view

		script(id="filter-view-template", type="template")
			include templates/filter-view

		script(id="noty-view-template", type="template")
			include templates/noty-view

		script(id="section-line-view-template", type="template")
			include templates/section-line-view

		script(id="sections-collection-view-template", type="template")
			include templates/sections-collection-view

		script(id="noties-collection-view-template", type="template")
			include templates/noties-collection-view

		script(id="edit-collection-view-template", type="template")
			include templates/edit-collection-view

		script(id="icon-edit-view-template", type="template")
			include templates/icon-edit-view

		script(id="sections-collection-line-view-template", type="template")
			include templates/sections-collection-line-view


		script(type='text/javascript', src='js/lib/require.js', data-main='js/main')


		script
			var url='css/icons-main-page.svg',c=new XMLHttpRequest();
			c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
			document.getElementById('js-svg-wrap').appendChild(c.responseXML.firstChild)

		//- script
		//- 	var c = new XMLHttpRequest();
		//- 	c.open("GET", "css/icons-main-page.svg", false);
		//- 	c.setRequestHeader("Content-Type", "text/xml"); c.send();
		//- 	var TheDocument = c.responseXML;
		//- 	var el = document.getElementById('js-svg-wrap')
		//- 	el.insertBefore(TheDocument.firstChild,el.firstChild)












