!!!5
html
	head
		meta(charset='UTF-8')
		title iconmelon
		link(href="favicon.ico", rel="icon", type="image/png")
		link(rel="stylesheet", type="text/css", href="css/main.css")
		link(rel="stylesheet", href="css/css-assets/font/stylesheet.css", type="text/css", charset="utf-8")
	body
		- var iconClass = ''
		- var text = ''		
		#js-svg-wrap	
			include css/icons.svg

		.main-header-b#js-main-header
			a(href="#/").logo-tiny-e#js-main
			a(href="#").menu-item-be.is-hoverable#js-how-to-use how to use
			a(href="#/submit").menu-item-be.is-hoverable#js-submit submit icons
			a(href="#").menu-item-be.is-hoverable#js-main support us

		section#main-l

		script(id="main-template", type="template")
			include templates/main-page

		script(id="submit-page-template", type="template")
			include templates/submit-page

		script(id="icon-select-view-template", type="template")
			include templates/icon-select-view

		script(id="button-counter-template", type="template")
			include templates/button-counter

		script(id="icon-view-template", type="template")
			include templates/icon-view

		script(id="icons-collection-view-template", type="template")
			include templates/icons-collection-view

		script(id="section-view-template", type="template")
			include templates/section-view

		script(id="sections-collection-view-template", type="template")
			include templates/sections-collection-view

		script(id="edit-collection-view-template", type="template")
			include templates/edit-collection-view

		script(id="icon-edit-view-template", type="template")
			include templates/icon-edit-view


		script(type='text/javascript', src='js/lib/require.js', data-main='js/main')
