!!!5
html
	head
		meta(charset='UTF-8')
		title Document
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body

		script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		script(type="text/javascript", src="js/main.js")
