.hash-e {
  font-size: 16px;
  color: #d7d8d8;
  margin-bottom: 8px;
  margin-top: 16px;
  max-width: 100%;
  padding: 8px 0;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 64px;
}
.icon-sample-kl {
  float: left;
  margin: 16px;
}
.main-kl {
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 0;
}
.section-kl + .section-kl {
  margin-top: 64px;
}
.header-ke {
  font-size: 26px;
  padding: 16px 0;
}
.color-sample-ke {
  width: 32px;
  height: 32px;
  margin: 8px;
  float: left;
}
