
<div class="submit-collection-l cf">
  <div class="collection-credits-b">
    <div class="header-be">Collection credits:</div>
    <input id="js-collection-name" placeholder="collection name" class="input-e "/>
    <input id="js-author" placeholder="author" class="input-e "/>
    <input id="js-email" placeholder="email" class="input-e "/>
    <input id="js-website" placeholder="website(optional)" class="input-e "/>
    <div id="js-multicolor" class="switcher-with-texts-b ">
      <div class="left-text-be">Normal</div>
      <div id="" class="switch-b ">
        <input type="checkbox" id="undefined"/>
        <div class="btn-be"></div>
        <div class="bg-be"></div>
      </div>
      <div class="right-text-be">Multicolor</div>
    </div>
    <div id="js-license" class="checkbox-with-label-b license-bh">
      <div id="" class="checkbox-b input-e ">
        <input type="checkbox" id="license"/>
        <div id="" title="" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#tick-icon"></use>
            </g>
          </svg>
        </div>
      </div>
      <label for="license">apply MIT license<a target="_blank" href="http://opensource.org/licenses/mit-license.html">
          <div id="" title="info" class="plus-btn-b ">
            <div id="" title="info" class="icon ">
              <svg viewBox="0 0 32 32">
                <g filter="info-icon">
                  <use xlink:href="#info-icon"></use>
                </g>
              </svg>
            </div>
          </div></a></label>
    </div>
    <div id="js-moderated" class="checkbox-with-label-b moderated-bh">
      <div id="" class="checkbox-b input-e ">
        <input type="checkbox" id="moderated"/>
        <div id="" title="" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="info-icon">
              <use xlink:href="#tick-icon"></use>
            </g>
          </svg>
        </div>
      </div>
      <label for="moderated">moderated</label>
    </div>
    <div class="icon-set-l">
      <div class="left-ll">
        <div title="" class="btn-b js-delete is-iconed is-red1">
          <div id="" title="" class="icon ">
            <svg viewBox="0 0 32 32">
              <g filter="info-icon">
                <use xlink:href="#close-icon"></use>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="right-ll">
        <div data-cnt="0" class="btn-b js-save">save</div>
      </div>
    </div>
    <div data-cnt="0" class="btn-b js-submit-btn is-inactive">submit</div>
  </div>
  <div class="submit-icon-collection-b">
    <div class="header-be">Icons:</div>
    <div class="icons-bl cf">
      <div id="js-icons-place" class="icons-bll"></div>
      <div id="js-add-icon" title="add icon" class="plus-btn-b ">
        <div id="" title="add icon" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="info-icon">
              <use xlink:href="#cross-icon"></use>
            </g>
          </svg>
        </div>
      </div>
      <div id="js-upload-icon" title="upload icon from svg file" class="plus-btn-b">
        <input id="fileupload" type="file" name="files[]" multiple="multiple"/>
        <div id="" title="upload icon from svg file" class="icon ">
          <svg viewBox="0 0 32 32">
            <g filter="info-icon">
              <use xlink:href="#arrow-down-icon"></use>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>