
<div class="controls-bl cf">
  <div class="input-with-icon-b">
    <input id="" placeholder="search" class="input-e "/>
    <div id="" title="" class="icon ">
      <svg viewBox="0 0 32 32">
        <g filter="">
          <use xlink:href="#search-icon"></use>
        </g>
      </svg>
    </div>
  </div>
  <div class="icon-set-l">
    <div class="left-ll">
      <div title="load from file" class="btn-b js-upload is-iconed is-red1">
        <input id="fileupload" type="file" name="files[]" multiple="multiple"/>
      </div>
    </div>
    <div class="right-ll">
      <div data-cnt="0" class="btn-b js-download is-counter">download</div>
    </div>
  </div>
</div>
<div title="" id="js-add-effects" class="icon-with-text-line-b is-hoverable add-effects-ph">
  <div class="icon-bl">
    <div id="" title="" class="plus-btn-b is-hoverable add-effects-ph">
      <div id="" title="" class="icon ">
        <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#cross-icon"></use>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="text-be">add effects</div>
</div>
<div id="js-filter-block" class="filters-block-pl">
  <div class="header-pm">Filters:</div>
  <div id="js-filters-place" class="icon-collections-line-b cf section-pm"></div>
  <div class="header-pm">Icons:</div>
</div>
<div id="js-section-collections-place" class="cf section-pm"></div>