
<div class="icon-collections-line-b">
  <div id="" title="right" class="plus-btn-b right-arrow-bh">
    <div id="" title="right" class="icon ">
      <svg viewBox="0 0 32 32">
        <g>
          <use xlink:href="#arrow-right-icon"></use>
        </g>
      </svg>
    </div>
  </div>
  <div id="" title="left" class="plus-btn-b left-arrow-bh">
    <div id="" title="left" class="icon ">
      <svg viewBox="0 0 32 32">
        <g>
          <use xlink:href="#arrow-left-icon"></use>
        </g>
      </svg>
    </div>
  </div>
  <div id="js-icons-place" class="icons-bl cf"></div>
</div>