@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

@import 'css-assets/font/stylesheet.css'
@import 'css-assets/general'
@import 'css-assets/elements'
@import 'css-assets/blocks'
@import 'css-assets/layouts'
@import 'css-assets/effects'
@import 'css-assets/icons'
@import 'pages/main-page'
@import 'pages/submit-page'
@import 'pages/editr-page'
@import 'pages/support-page'
@import 'pages/how-page'
@import 'pages/hire-page'
@import 'pages/terms-page'

.notyfier-b
	position fixed
	t 12*gs
	l -2px
	width notyWidth + (gs/2)
	z-index: 20

