.icon-b.cf
  .icon-bl
    .iconmelon
      svg(viewBox="#{data.viewBox || '0 0 32 32'}")
        - var filter = (data.filter ? "url(#"+data.filter+")" : "")
        g(filter=filter)
          use(xlink:href="##{data.name}")
  .name-bl
    input.name-ble(value="##{data.name}", readonly)
