.icon-b.cf
  .icon-bl
    .iconmelon
      svg(viewBox="#{data.viewBox || '0 0 32 32'}")
        g(filter="url(##{data.filter || ''})")
          use(xlink:href="##{data.name}")
  .name-be ##{data.name}