@import '../assets/imports'

.submit-p
	padding-top 14*gs
	// margin-left - 14*gs
	// margin-right - 14*gs

	> .header-pe
		font-size 3*gs
		line-height 4*gs
		color c-grey2
		margin-bottom 4*gs
		margin-top - (gs/2)
		padding-left 4*gs

	// .drop-panel-e
	// 	// margin-top 2*gs
	// 	// display none

