//- d8231e3de7a5cfc54e2a32c99fda48b0
.section-header-b
	.name-be #{ text || 'Section name' }
	.icons-bl
		
		- var className = 'is-dropup-arrow is-hoverable'
		include icon

		- var className = 'is-tick is-green--onhover'
		include icon

		- var className = 'is-close is-red1--onhover'
		include icon