// ELEMENTS
@import '../assets/imports.styl'

/* a3c04187903038745cfd8388b6846a61 */
.logo-large-e
	rect 20*gs
	background url('icons/logo-large.png') no-repeat center center

/* 745569f548ab5734b69d33d95b3f7074 */
.logo-tiny-e
	rect 4*gs
	background url('icons/logo-tiny.png') no-repeat center center
	display block

/* e8f7ddd21782268ea812c14eaada3957 */
shadowSize = 2px

.input-e
	display block
	bbox()
	border 1px solid c-grey2
	border-radius br
	height 4*gs
	outline 0
	background white
	padding-left gs
	padding-right gs
	box-shadow shadowSize shadowSize 0 rgba(rgb(c-grey1), .2)
	color c-grey1
	fontOfControl()


	&:focus
		background transparent
		box-shadow none
		border 1px solid c-green



