// ICONS
@import '../assets/imports'

iconsMixin(path="")
	.icon
		rect 4*gs
		fill c-grey2
		display block
		position relative

		rect
			position absolute


		&.is-hoverable
			&:hover
				fill c-grey2-hover
				cursor pointer

		&.is-green--onhover
			&:hover
				fill c-green-hover
				cursor pointer

		&.is-red1--onhover
			&:hover
				fill c-red1-hover
				cursor pointer

		/* 16139bdc1fb5bf21a3cb1769f714013a */
		&.is-search rect
			clip-path url(path + '#search-path')

		/* 9e78a293b56b43a69cf374ae4ad9f495 */
		&.is-twitter rect
			clip-path url(path + '#twitter-path')

		/* 5b2c9e1ee9d3e0e4ba56b2f8dea24f47 */
		&.is-tick rect
			clip-path url(path + '#tick-path')

		/* fcca51eabd6ffa4a4ac157dfef02b2f7 */
		&.is-close rect
			clip-path url(path + '#close-path')

		/* eafa14efc63037c35f910646115714b7 */
		&.is-dropdown-arrow 
			rect
				clip-path url(path + '#dropdown-arrow-path')
			&.is-reverse rect
				clip-path url(path + '#dropup-arrow-path')

		/* 88802f98579d36bc528690c035360653 */
		&.is-dropup-arrow 
			rect
				clip-path url(path + '#dropup-arrow-path')
			&.is-reverse rect
				clip-path url(path + '#dropdown-arrow-path')



