// LAYOUTS
@import '../assets/imports.styl'


/* 40786efe0e3396f01135b7557644635b */
.use-line-l
	> .left-ll, > .right-ll
		float left
	> .left-ll
		width 30%
	> .right-ll
		width 70%
		padding-left 4*gs
		text-align left
		display table
		vertical-align middle
		height 15.5*gs

		.use-text-b
			display table-cell
			// display inline-block
			vertical-align middle


/* f0da073515e3bf86be77b0b224b3e280 */
.numed-use-preview-l
	position: relative
	
	> .connector-le
		border-top (gs/2) solid c-grey4
		width 100%
		position: absolute 
		top 50%
		left 0
		z-index: 0
	
	.use-num-b
		position absolute
		z-index: 1
		margin-top - 2.75*gs
		t 50%
		l 0

	.use-preview-b
		position: relative
		z-index: 1
		margin-left 7.5*gs
		float right
	

/* f609e06a5e7b6776445a78e6c90fe6fa */
.noties-l
	.noty-l
		padding-bottom (gs/2)
		position relative
		overflow hidden
		display none
		&.is-show
			+ .noty-l
				margin-top (gs/2)
			.noty-b
				left 0
		.noty-b
			position relative
			left  - notyWidth - (gs/2)
			transition left .25s ease-out

/* 58b21870f4e247e374c47f1d6d823c88 */
.icon-set-l
	.btn-b
		width 100%
	> .left-ll
		width 4.5*gs
		float left
	> .right-ll
		margin-left 5.5*gs


/* 7e807202bea13c1b52e121142a6092f8 */
.submit-collection-l
	background rgba(0,0,0,.025)
	border-top-left-radius br
	border-bottom-left-radius br

	.collection-credits-b
		float left

	.submit-icon-collection-b
		margin-left 36*gs
		background white


#main-l
	max-width 146*gs
	margin 0 auto
	padding-bottom 20*gs
	min-width 72*gs
