// LAYOUTS
@import '../assets/imports.styl'

/* 58b21870f4e247e374c47f1d6d823c88 */
.icon-set-l
	.btn-b
		width 100%
	> .left-ll
		width 4.5*gs
		float left
	> .right-ll
		margin-left 5.5*gs


/* 7e807202bea13c1b52e121142a6092f8 */
.submit-collection-l
	background rgba(0,0,0,.025)
	border-top-left-radius br
	border-bottom-left-radius br

	.collection-credits-b
		float left

	.submit-icon-collection-b
		margin-left 36*gs
		background white


#main-l
	max-width 146*gs
	margin 0 auto
	padding-bottom 20*gs
	min-width 60*gs
