// PALETTE
c-red1 	= #FF3D7F
c-red1-hover = lighten(c-red1, 5)
c-red2 	= #FF9E9D
c-red2-hover = lighten(c-red2, 5)



c-green = #3FB8AF
c-green-hover = lighten(c-green, 5)

c-yellow = #F8B800

c-grey1 			= #3b3b3a
c-grey1-hover = lighten(c-grey1, 10)

c-grey2 = darken(#b8b7b7, 20)
c-grey2-hover = darken(c-grey2, 10)

c-grey3 =  darken(#d7d8d8, 10)
c-grey3-hover = darken(c-grey3, 5)

c-grey4 = lighten(c-grey3, 10)



c-stackoverflow = #ff963d