// PALETTE
c-red1 	= #FF3D7F
c-red1-hover = lighten(c-red1, 5)
c-red2 	= #FF9E9D


c-green = #3FB8AF
c-green-hover = lighten(c-green, 5)


c-grey1 = #3b3b3a
c-grey2 = #d7d8d8
c-grey2-hover = darken(c-grey2, 5)
