// GENERAL
@import '../assets/imports.styl'

*
	bbox()
	
body, html
	min-rect 100%
	margin 0
	padding 0
	overflow-x hidden

body
	color c-grey1
	font-family 'dense', monospace
	letter-spacing 1px

@css{
	::selection{
		background-color: #E83F7D;
	    color: white;
	    text-shadow: none;
	}

	::-moz-selection{
		background-color: #E83F7D;
	  color: white;
	  text-shadow: none;
	}
	
}


// COLORS
.c-grey1-gm
	color c-grey1
.c-grey2-gm
	color c-grey2
.c-grey2-hover-gm
	color c-grey2-hover

.c-grey3-gm
	color c-grey3
// COLORS

// FONT
.line-thru-gm, .line-through-gm
	position: relative
	&:after
		content ''
		position: absolute
		top 50%
		left 0
		width 100%
		margin-top 1px
		border-top 2px solid

.bold-gm
	font-weight bold

// FONT


.op-0-gm
	opacity 0
.op-5-gm
	opacity .5

a, .link-e
	color c-grey1
	text-decoration none
	position relative
 
	&.is-hoverable, &.is-check
		&:after
			content ''
			position absolute
			display none
			color inherit

			width 100%
			height 2px
			left -1px

			bottom - (gs/2)
			border-top 1px solid
			border-bottom 1px solid

		&:hover
			// 4!
			&:after
				display block

	&.is-grey3
		color c-grey3
		&:after
			border-top-color    c-grey3
			border-bottom-color c-grey3		

	&.is-grey2-hover
		color c-grey2-hover
		&:after
			border-top-color    c-grey2-hover
			border-bottom-color c-grey2-hover

	&.is-grey2--onhover
		&:hover
			color c-grey2

			&:after
				border-top-color    c-grey2
				border-bottom-color c-grey2		

	&.is-check
		&:after
			display block
	

.f-s-x3-gm
	font-size 3*gs

.f-s-x4-gm
	font-size 4*gs

.float-left-gm,  .f-l-gm
	float left
.float-right-gm, .f-r-gm
	float right


.h-gm
	display none
.h-gm-i
	display none II


// CLEARFIX
.cf:after,
.cf:before {
    content: '';
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}


metrics()
	maxSize = 100
	short = w h
	long  = width height
	for property, j in long
		for i in 1..maxSize
			.{property}-x{i}-gm, .{short[j]}-x{i}-gm
				{property} i*gs
	
	maxSize = 20
	short = m p
	long  = margin padding
	for property, j in long
		for i in 1..maxSize
			shortSide = -l -r -t -b ''
			longSide  = -left -right -top -bottom ''
			for prop, x in longSide

				.{property}{prop}-x{i}-gm, .{short[j]}{shortSide[x]}-x{i}-gm
					{property}{prop} i*gs


colors()
	colors 		=  c-red1   c-red2   c-green   c-grey1   c-grey3
	colorsNames = 'c-red1' 'c-red2' 'c-green' 'c-grey1' 'c-grey3'
	for color, i in colors
		.{colorsNames[i]}-bg-gm
			background-color color
			
metrics()
colors()

// // ADD THIS SOCIAL WIDGET
// #at16lb
// 	opacity 0 !important
// #at15s
// 	display none !important
// 	opacity 0 !important
// // ADD THIS SOCIAL WIDGET
