.checkbox-b(class="input-e #{ className || ''}", id="#{ idAttribute || '' }")
	input(type="checkbox", checked=checked, id="#{name}")
	- path = 'tick-icon', title = '', idAttribute = '', iconClass = ''
	include icon