.icons-set-b(class=className, id=idAttribute)
	.icons-bl.cf
		- var path = iconPath1, title = '', idAttribute = '', iconClass = ''
		include icon

		- var path = iconPath2, title = '', idAttribute = '', iconClass = ''
		include icon

		- var path = iconPath3, title = '', idAttribute = '', iconClass = ''
		include icon

		- var path = iconPath4, title = '', idAttribute = '', iconClass = ''
		include icon

		- var path = iconPath5, title = '', idAttribute = '', iconClass = ''
		include icon

		- var path = iconPath6, title = '', idAttribute = '', iconClass = ''
		include icon

	.text-be #{text}