.icon-set-l
  .left-ll
    - var className = 'is-iconed is-red1'
    - var iconPath = 'arrow-down-icon'
    - var title = 'load from file'
    include button-with-icon
  .right-ll
    - var className = 'is-counter', text = 'download', cnt = ''
    include button