
- var path 				= 'close-icon'
- var iconClass 	= 'is-hoverable'
- var filter 			= ''
- var idAttribute = 'js-close'
- var title 			= 'close'
include ../css/partials/icon
- var title 			= ''
- var idAttribute = ''
.content-bl
	.thanx-modal-with-icon-b
		.icon-bl
			- var path = 'sprout-icon'
			- var iconClass = ''
			include ../css/partials/icon
		.thanx-modal-b
			.header-be Great work!
			.text-be We will review your submission and contact you if there's anythimg wrong.
			.text-be Consider yourself as one of iconmelon's parents now. Find out if you can help your child to rise up.

.btns-bl
	.icon-set-l
		.left-ll
			- var className = 'close-btn-bh is-iconed is-red1'
			- var iconPath = 'close-icon'
			- var title = 'load from file'
			include ../css/partials/button-with-icon
		.right-ll
			- var className = 'js-findout', text = 'Find out', cnt = ''
			include ../css/partials/button