
<div class="collection-credits-b undefined">
  <div class="header-be">Collection credits:</div>
  <input id="" placeholder="" class="input-e "/>
  <input id="" placeholder="" class="input-e "/>
  <input id="" placeholder="" class="input-e "/>
  <input id="" placeholder="" class="input-e "/>
  <div id="" class="checkbox-with-label-b ">
    <div id="" class="checkbox-b input-e ">
      <input type="checkbox" id="moderated"/>
      <div id="" title="" class="icon ">
        <svg viewBox="0 0 32 32">
          <g>
            <use xlink:href="#tick-icon"></use>
          </g>
        </svg>
      </div>
    </div>
    <label for="moderated">moderated</label>
  </div>
  <div class="icon-set-l">
    <div class="left-ll">
      <div class="btn-b is-iconed is-red1">
        <div id="" title="" class="icon ">
          <svg viewBox="0 0 32 32">
            <g>
              <use xlink:href="#close-icon"></use>
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="right-ll">
      <div data-cnt="0" class="btn-b ">save</div>
    </div>
  </div>
  <div data-cnt="0" class="btn-b ">submit</div>
</div>