
<div class="lego-n-text-b"><a href="http://legomushroom.com/" target="_blank" id="js-lego-img" class="legomushroom-e op-0-gm"></a>
  <div class="text-be">'Allo! Iconmelon was built all in one by <a target="_blank" href="http://legomushroom.com" class="is-grey2 is-hoverable">Legomushroom. </a>Consider hiring him for a full time job.</div>
  <div class="social-btns-l cf"><a href="http://portfolio.legomushroom.com/" title="portfolio" target="_blank" class="is-behance social-btn-b">
      <div id="" title="" class="icon ">
        <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#behance-logo-icon"></use>
          </g>
        </svg>
      </div></a><a href="https://github.com/sol0mka" title="github" target="_blank" class="is-github social-btn-b">
      <div id="" title="" class="icon ">
        <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#github-logo-icon"></use>
          </g>
        </svg>
      </div></a><a href="http://codepen.io/sol0mka" title="codepen" target="_blank" class="is-codepen social-btn-b">
      <div id="" title="" class="icon ">
        <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#codepen-logo-icon"></use>
          </g>
        </svg>
      </div></a><a href="mailto:legomushroom@gmail.com" title="mail me" target="_blank" class="is-email social-btn-b">
      <div id="" title="" class="icon ">
        <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#email-logo-icon"></use>
          </g>
        </svg>
      </div></a><a href="skype:sol0mka88" title="skype" target="_blank" class="is-skype social-btn-b">
      <div id="" title="" class="icon ">
        <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#skype-logo-icon"></use>
          </g>
        </svg>
      </div></a>
  </div>
</div>