.main-logo-b
	.logo-large-e
		- var path = 'main-logo-icon', filter = ''
		- var iconClass = '', idAttribute = ''
		- var title = ''
		include icon
	.name-be iconmelon
	.description-be svg icons library for web