.main-logo-b(class=className)
	.logo-large-e.is-rotated
		- var path = 'main-logo-icon', filter = ''
		- var iconClass = '', idAttribute = 'js-main-logo-icon'
		- var title = ''
		include icon
	.name-be iconmelon
	.description-be svg icons library for web