.noty-b(class=className)
	- var path = 'tick-icon'
	- var filter = ''
	- var iconClass = 'tick-icon-bh'
	- var idAttribute = ''
	- var title = ''
	include icon

	- var path = 'close-icon'
	- var filter = ''
	- var iconClass = 'close-icon-bh'
	- var idAttribute = ''
	- var title = ''
	include icon

	- var path = 'info-icon'
	- var filter = ''
	- var iconClass = 'info-icon-bh'
	- var idAttribute = ''
	- var title = ''
	include icon

	.text-be #{text}