.plus-btn-b(class=className, id="#{ idAttribute || '' }", title="#{ title || '' }")
	- var path = iconPath || 'cross-icon'
	- var iconClass = iconClass || ''
	- var title = title || ''
	- var idAttribute = ''
	include icon
