- var placeholder 	= 	'search'
- var iconClass 	=	'is-search'
include ../css/partials/input-with-icon

- var text = 'download'
- var className = 'is-counter'
- var cnt = '0'
include ../css/partials/button

#js-section-collections-place

#js-icon-place.content-bl(style="clear:both")