.browsers-support-l.cf#js-browsers-icons.op-0-gm
	- var path = 'chrome-logo-icon', filter = ''
	- var iconClass = 'js-browsers-icon', idAttribute = ''
	- var title = 'chrome: 8+', viewBox = null
	include icon

	- var path = 'firefox-logo-icon', filter = ''
	- var iconClass = 'js-browsers-icon', idAttribute = ''
	- var title = 'firefox: 4+', viewBox = null
	include icon

	- var path = 'safari-logo-icon', filter = ''
	- var iconClass = 'js-browsers-icon', idAttribute = ''
	- var title = 'safari: 5.1+', viewBox = null
	include icon

	- var path = 'opera-logo-icon', filter = ''
	- var iconClass = 'js-browsers-icon', idAttribute = ''
	- var title = 'opera: 12.1+', viewBox = null
	include icon

	- var path = 'ie-logo-icon', filter = ''
	- var iconClass = 'js-browsers-icon', idAttribute = ''
	- var title = 'ie: 9+', viewBox = null
	include icon

	

	
