.icon-with-text-line-b(class=className, title=title, id=idAttribute)
	.icon-bl
		- var iconPath = iconPath, title = '', iconClass = '', idAttribute = ''
		- var filter = ''
		include plus-btn

	.text-be #{ text }