a(href= data.link, class= data.className, title= data.title || '', target="_blank").social-btn-b
	- var path = data.iconPath || 'email-logo-icon', filter = ''
	- var iconClass = '', idAttribute = ''
	- var title = '', viewBox = null
	include icon