
<div class="submit-collection-l cf">
  <div class="collection-credits-b">
    <div class="header-be">Collection credits:</div>
    <input id="js-collection-name" placeholder="collection name" class="input-e "/>
    <input id="js-author" placeholder="author" class="input-e "/>
    <input id="js-email" placeholder="email" class="input-e "/>
    <input id="js-website" placeholder="website(optional)" class="input-e "/>
    <div data-cnt="0" class="btn-b js-submit-btn is-inactive">submit</div>
  </div>
  <div class="submit-icon-collection-b">
    <div class="header-be">Icons:</div>
    <div class="icons-bl cf">
      <div id="js-icons-place" class="icons-bll"></div>
      <div id="js-add-icon" title="add icon" class="plus-btn-b">
        <div id="" title="add icon" class="icon ">
          <svg viewBox="0 0 32 32">
            <g>
              <use xlink:href="#cross-icon"></use>
            </g>
          </svg>
        </div>
      </div>
      <div id="js-upload-icon" title="upload icon from svg file" class="plus-btn-b">
        <div id="" title="upload icon from svg file" class="icon ">
          <svg viewBox="0 0 32 32">
            <g>
              <use xlink:href="#arrow-down-icon"></use>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>