- var cnt = ''
.submit-collection-l.cf
	.collection-credits-b
		.header-be Collection credits:
		- className = ''

		- placeholder = 'collection name'
		- var idAttribute = 'js-collection-name'
		include ../css/partials/input

		- placeholder = 'author'
		- var idAttribute = 'js-author'
		include ../css/partials/input

		- placeholder = 'email'
		- var idAttribute = 'js-email'
		include ../css/partials/input

		- placeholder = 'website(optional)'
		- var idAttribute = 'js-website'		
		include ../css/partials/input

		.checkbox-with-label-b(class="license-bh", id="js-license")
			- var checked = undefined, name = "license"
			include ../css/partials/checkbox
			label(for=name) apply 
				a(target="_blank", href="http://opensource.org/licenses/mit-license.html", class="is-grey3 is-hoverable is-grey2--onhover") MIT
				|  license

		- var text = 'moderated', className = 'moderated-bh', idAttribute = 'js-moderated'
		include ../css/partials/checkbox-with-label

		.icon-set-l
			.left-ll
				- var className = 'js-delete is-iconed is-red1'
				- var iconPath = 'close-icon'
				include ../css/partials/button-with-icon
			.right-ll
				- var className = 'js-save', text = 'save', cnt = ''
				include ../css/partials/button

		- text = 'submit'
		- className = 'js-submit-btn is-inactive'
		include ../css/partials/button
		- className = ''
		

	.submit-icon-collection-b
		.header-be Icons:
		.icons-bl.cf
			#js-icons-place.icons-bll
			- var idAttribute = 'js-add-icon'
			- var iconClass = ''
			- var title = 'add icon'
			- var iconPath = 'cross-icon'
			include ../css/partials/plus-btn

			- var idAttribute = 'js-upload-icon'
			- var iconClass = ''
			- var title = 'upload icon from svg file'
			- var iconPath = 'arrow-down-icon'
			include ../css/partials/upload-btn









			