- var className = 'right-arrow-bh', iconPath = 'arrow-right-icon', title = 'right', iconClass = '', idAttribute = 'js-right'
include ../css/partials/plus-btn

- var className = 'left-arrow-bh', iconPath = 'arrow-left-icon', title = 'left', iconClass = '', idAttribute = 'js-left'
include ../css/partials/plus-btn

.icons-bl.cf#js-filters-place