
<div class="use-line-l cf page-block-ph">
  <div class="left-ll">
    <div class="numed-use-preview-l cf ">
      <div class="use-num-b">1</div>
      <div class="use-preview-b "></div>
      <div class="connector-le"></div>
    </div>
  </div>
  <div class="right-ll">
    <div class="use-text-b">Select icons and maybe filter effects then click download button.</div>
  </div>
</div>
<div class="numed-block-l cf page-block-ph">
  <div class="num-ll">
    <div class="numed-use-preview-l cf is-no-preview">
      <div class="use-num-b">2</div>
      <div class="use-preview-b "></div>
      <div class="connector-le"></div>
    </div>
  </div>
  <div class="block-ll">	
    <div class="use-2-options-line-l cf">
      <div class="left-ll">
        <div class="use-line-l cf">
          <div class="left-ll is-no-num">
            <div class="numed-use-preview-l cf is-no-num">
              <div class="use-num-b">2</div>
              <div class="use-preview-b is-copy-svg"></div>
              <div class="connector-le"></div>
            </div>
          </div>
          <div class="right-ll">
            <div class="use-text-b">Copy contents of icons.svg file just before <i class="bold-gm c-grey2-hover-gm">opening body tag.</i></div>
          </div>
        </div>
      </div>
      <div class="center-ll">
        <div class="use-or-b">
          <div class="use-num-b">OR</div>
        </div>
      </div>
      <div class="right-ll">
        <div class="use-line-l cf">
          <div class="left-ll is-no-num">
            <div class="numed-use-preview-l cf is-no-num">
              <div class="use-num-b">2</div>
              <div class="use-preview-b is-copy-js"></div>
              <div class="connector-le"></div>
            </div>
          </div>
          <div class="right-ll">
            <div class="use-text-b">Or copy the js snippet from <i class="bold-gm c-grey2-hover-gm">the bottom of the index.html </i>and specify url to the icons.svg file.
              (webserver only)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="use-line-l cf page-block-ph">
  <div class="left-ll">
    <div class="numed-use-preview-l cf ">
      <div class="use-num-b">3</div>
      <div class="use-preview-b is-add-icon"></div>
      <div class="connector-le"></div>
    </div>
  </div>
  <div class="right-ll">
    <div class="use-text-b">Start adding icons with the next snippets: <a href="https://gist.github.com/sol0mka/7397445" target="_blank" class="is-hoverable is-grey2-hover is-check">without filter </a> & <a href="https://gist.github.com/sol0mka/7397460" target="_blank" class="is-hoverable is-grey2-hover is-check">with filter </a></div>
  </div>
</div>
<div class="use-line-l cf page-block-ph">
  <div class="left-ll">
    <div class="numed-use-preview-l cf ">
      <div class="use-num-b">4</div>
      <div class="use-preview-b is-add-css"></div>
      <div class="connector-le"></div>
    </div>
  </div>
  <div class="right-ll">
    <div class="use-text-b">
      Use CSS to style icons. You can set fill color property to specify background-color, plain width/height for icon size
      and stroke/stroke-width for borders. All supported properties can be found <a href="https://gist.github.com/sol0mka/7397561" target="_blank" class="is-hoverable is-grey2-hover is-check">here</a>. We strongly recommend to start your stylings with <i class="bold-gm c-grey2-hover-gm">icons.css </i>boilerplate.
    </div>
  </div>
</div><a href="#/support-us" class="small-logo-b is-hoverable">
  <div id="" title="" class="icon ">
    <svg viewBox="0 0 32 32">
      <g filter="">
        <use xlink:href="#main-logo-icon"></use>
      </g>
    </svg>
  </div>
  <p>support us</p></a>