
<div class="submit-icon-b">
  <div id="js-destroy" title="remove" class="icon is-hoverable close-bh">
    <svg viewBox="0 0 512 512">
      <g>
        <use xlink:href="#close-icon"></use>
      </g>
    </svg>
  </div>
  <div id="" title="" class="icon icon-sample-bh &lt;%= hash || 'is-grey3' %&gt;">
    <svg viewBox="0 0 512 512">
      <g>
        <use xlink:href="#&lt;%= hash || &quot;b5282d4ecdc7ae3d0799023622c560a5&quot; %&gt;"></use>
      </g>
    </svg>
  </div>
  <div class="name-bh">
    <input id="js-name" placeholder="name" class="input-e &lt;%= !(isNameValid) ? &quot;is-error&quot; : &quot;&quot; %&gt;"/>
  </div>
  <input id="js-shape" placeholder="shape" class="input-e shape-bh"/>
</div>