
<div class="icons-bl cf">
  <div id="" title="" class="icon ">
    <svg viewBox="0 0 32 32">
      <g>
        <use xlink:href="#&lt;%= (icons[0]) ? icons[0].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
      </g>
    </svg>
  </div>
  <div id="" title="" class="icon ">
    <svg viewBox="0 0 32 32">
      <g>
        <use xlink:href="#&lt;%= (icons[1]) ? icons[1].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
      </g>
    </svg>
  </div>
  <div id="" title="" class="icon ">
    <svg viewBox="0 0 32 32">
      <g>
        <use xlink:href="#&lt;%= (icons[2]) ? icons[2].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
      </g>
    </svg>
  </div>
  <div id="" title="" class="icon ">
    <svg viewBox="0 0 32 32">
      <g>
        <use xlink:href="#&lt;%= (icons[3]) ? icons[3].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
      </g>
    </svg>
  </div>
  <div id="" title="" class="icon ">
    <svg viewBox="0 0 32 32">
      <g>
        <use xlink:href="#&lt;%= (icons[4]) ? icons[4].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
      </g>
    </svg>
  </div>
  <div id="" title="" class="icon ">
    <svg viewBox="0 0 32 32">
      <g>
        <use xlink:href="#&lt;%= (icons[5]) ? icons[5].hash : &quot;b5282d4ecdc7ae3d0799023622c560a5&quot;  %&gt;"></use>
      </g>
    </svg>
  </div>
</div>
<div class="text-be"><%= name %></div>