
<div class="section-header-b">
  <div class="name-be">&lt;%= name %&gt;</div>
  <div class="icons-bl">
    <svg id="js-hide" title="close section" viewBox="0 0 512 512" class="icon is-dropup-arrow is-hoverable &lt;%= (isClosed) ? &quot;is-reverse&quot; : &quot;&quot; %&gt;">
      <g>
        <rect style="" width="512" height="512"></rect>
      </g>
    </svg>
    <svg id="js-select-all" title="select all" viewBox="0 0 512 512" class="icon is-tick is-green--onhover">
      <g>
        <rect style="" width="512" height="512"></rect>
      </g>
    </svg>
    <svg id="js-deselect-all" title="deselect all" viewBox="0 0 512 512" class="icon is-close is-red1--onhover">
      <g>
        <rect style="" width="512" height="512"></rect>
      </g>
    </svg>
  </div>
</div>
<div id="js-icons-place" class="content-bl cf"></div>