- var className = '', idAttribute = ''
- var iconPath1 = 'twitter-icon', iconPath2 = 'close-icon', iconPath3 = 'search-icon'
- var iconPath4 = 'tick-icon', iconPath5 = 'arrow-down-icon', iconPath6 = 'cross-icon'
- var text = 'Collection'

.icons-bl.cf
	- var path = '<%= (icons[0]) ? icons[0].hash : "b5282d4ecdc7ae3d0799023622c560a5"  %>', title = '', idAttribute = '', iconClass = ''
	include ../css/partials/icon

	- var path = '<%= (icons[1]) ? icons[1].hash : "b5282d4ecdc7ae3d0799023622c560a5"  %>', title = '', idAttribute = '', iconClass = ''
	include ../css/partials/icon

	- var path = '<%= (icons[2]) ? icons[2].hash : "b5282d4ecdc7ae3d0799023622c560a5"  %>', title = '', idAttribute = '', iconClass = ''
	include ../css/partials/icon

	- var path = '<%= (icons[3]) ? icons[3].hash : "b5282d4ecdc7ae3d0799023622c560a5"  %>', title = '', idAttribute = '', iconClass = ''
	include ../css/partials/icon

	- var path = '<%= (icons[4]) ? icons[4].hash : "b5282d4ecdc7ae3d0799023622c560a5"  %>', title = '', idAttribute = '', iconClass = ''
	include ../css/partials/icon

	- var path = '<%= (icons[5]) ? icons[5].hash : "b5282d4ecdc7ae3d0799023622c560a5"  %>', title = '', idAttribute = '', iconClass = ''
	include ../css/partials/icon

.text-be <%= name %>