.icon-collections-line-b
	- var className = 'right-arrow-bh', iconPath = 'arrow-right-icon', title = 'right', iconClass = '', idAttribute = ''
	include ../css/partials/plus-btn

	- var className = 'left-arrow-bh', iconPath = 'arrow-left-icon', title = 'left', iconClass = '', idAttribute = ''
	include ../css/partials/plus-btn

	.icons-bl.cf#js-icons-place