@import '../assets/imports'

.terms-p
	padding 8*gs 16*gs
	color c-grey2-hover

	h1, h2, h3
		color c-grey1

	h1
		font-size 6*gs
		margin 2*gs 0

	h2 
		font-size 5*gs
		margin 1.5*gs 0

	h3 
		font-size 4*gs
		margin 1*gs 0

	p 
		font-size   3*gs
		line-height 4*gs

